.contacts {
    &-blocks {
        padding: 120px 35px 90px 52px;
        display: flex;
    }
    &-text{
        margin-left: 12px;
    }
    &-title {
        margin-top: 23px;
        font-weight: 700;
        font-size: 36px
    }
    &-line{
        margin-top: 18px;
    }
    &-subtitle {
        margin-top: 20px;
    }
    &__social {
        margin-top: 20px;
    }
    &__img {
        margin-right: 68px;

    }
    &__btn {
        width: 219px;
        height: 45px;
    }
    input {
        border: 1px solid rgb(0, 0, 0);
    }
    textarea {
        border: 1px solid rgb(0, 0, 0);
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 30px;
        column-gap: 25px;
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            font-weight: 500;
            padding: 0 20px;
            font-size: 12px;
        }
        label{
            padding: 0 8px;
            position: absolute;
            left: 12px;
            top: -7px;
            background-color: #fff;
        }

    }
    &__textarea {
        position: relative;
        grid-column: 1/3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
        }
        label {
            padding: 0 8px;
            position: absolute;
            left: 12px;
            top: -7px;
            background-color: #fff;
        }
    }
    &__social {
        width: 135px;
        display: flex;
        justify-content: space-between;
    }
}