.price {
    padding-top: 60px;
    &-block{
        padding: 0 50px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-item {
        height: 45px;
        max-width: 365px;
        margin-bottom: 15px;
    }
    &-title {
        display: flex;
    }
    &__ball{
        margin-right: 10px;
    }
    &__name {
        font-weight: 700;
        font-size: 14px;
    }
    &__number {
        font-weight: 700;
        font-size: 14px;
    }
    &-text {
        display: flex;
        justify-content: space-between;
    }
    &-descr {
        margin-top: 13px;
        padding-left: 25px;
        font-weight: 500;
        font-size: 12px;
    }
}