@import 'reset';
@import 'variables';
@import 'main';
@import 'about';
@import 'useful';
@import 'header';
@import 'skills';
@import 'menu';
@import 'scales';
@import 'work';
@import 'price';
@import 'contacts';




.container {
    margin: 0 auto;
    width: 1170px;
    padding: 0px 15px;
}


.circle {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: $common-color;
}

.line {
    width: 60px;
    height: 3px;
    background:$common-color;
}

.header {
    display: block;
    text-align: center;
    margin: 0 auto;
    &-super {
        display: flex;
        justify-content: center;
        height: 36px;
    }
    &-text {
       position: relative;
       line-height: 36px;
       font-weight: 700;
        font-size: 16px;
    }
    &-title {
        margin-top: 23px;
        font-weight: 700;
        font-size: 36px;
    }
    &-line {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
}

.ball {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: $common-color;
}

.hamburger {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    height: 21px;
    top: 20px;
    right: 30px;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}

